<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="All">
        <classes>
            <class name="coordinats.PointTests" />
            <class name="Cycle.PrimeTests" />
            <class name="Equation.EquationTests" />
        </classes>
    </test>
</suite>